<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Chronicles</title>
  {{!--
  <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

<body>
  <header>
    <h1 class="main-header-text">Code Chronicles</h1>
    <div class="logo-container-flex"></div>
    <div class="logo-container"></div>
    </div>
  </header>

  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    <a href="/blog_form">Post New Blog</a>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>

  <main>
      <div class="show-for-small hide-for-medium aside-container-for-mobile">
      <h2 class="asideText">Expand your coding knowledge with Code Chronicles!</h2>
      </div>

    <aside class="show-for-medium">
      <h2 class="asideText">Expand your coding knowledge with Code Chronicles!</h2>
    </aside>

    <div class="content">

      {{{body}}}

    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}


  <!-- jQuery (required for Foundation scripts) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Foundation core JS -->
  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.0/dist/js/foundation.min.js"></script>

  <!-- Foundation Reveal plugin -->
  {{!--
  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.0/dist/js/plugins/foundation.reveal.min.js"></script>
  --}}

  <!-- Foundation utility libraries -->
  {{!--
  <script
    src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.0/dist/js/plugins/foundation.util.keyboard.min.js"></script>
  --}}
  <script
    src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.0/dist/js/plugins/foundation.util.touch.min.js"></script>
  {{!--
  <script
    src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.0/dist/js/plugins/foundation.util.triggers.min.js"></script>
  --}}
  {{!--
  <script
    src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.0/dist/js/plugins/foundation.util.mediaQuery.min.js"></script>
  --}}
  {{!--
  <script
    src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.0/dist/js/plugins/foundation.util.motion.min.js"></script>
  --}}

  <script>
    $(document).foundation();
  </script>

</body>


</html>