<form id="blogForm" class="form blog-post-form">
    <div>
        <label for="title">Blog Title</label>
        <input type="text" id="title" name="title">
    </div>

    <div>
        <label for="author">Author</label>
        <input type="text" name="author" id="author">
    </div>

    <div>
        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="HTML">HTML</option>
            <option value="JavaScript">JavaScript</option>
            <option value="CSS">CSS</option>
            <option value="Node.js">Node.js</option>
        </select>
    </div>

    <div>
        <label for="content">Content</label>
        <textarea name="content" id="content" rows="10" cols="50"></textarea>
    </div>

    <div>
        <button class="button secondary">Submit</button>
    </div>
</form>

<script src="./js/blog_form.js"></script>