<section class="flex-container container">
  <h3 class=" category-title">{{category.title}}</h3>
  
  <section class="flex-row justify-center">
    {{#each category.blogs as |blog|}}
    {{> blog-cards}}
    {{/each}}
  </section>
</section>
