<section class="flex-container container">
  <h3 class=" category-title">{{category.title}}</h3>
  {{!-- <h4>Posted on: {{format_time category.post_date}}</h4> --}}
  
  <section class="flex-row justify-center">
    {{#each category.blogs as |blog|}}
    {{> blog-cards}}
    {{/each}}
  </section>
</section>
